{% extends "base_template.html" %}
{% load static %}

{% block content %}
<div class="container">
<h3>You only get 5 questions so ask wisely.</h3>
<br>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ formset.management_form }}
      {% if message %}
        {{ messsage }}
      {% endif %}
    {% for form in formset %}
      <h5>FORM {{ forloop.counter }}</h5>
      {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          <hr>
        </div>
      {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
